<div class="modal fade" id="commonConfirmModal" tabindex="-1" aria-labelledby="commonConfirmModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title" id="commonConfirmModalLabel">확인</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="닫기"></button>
            </div>

            <div class="modal-body" id="commonConfirmModalMessage">
                계속 진행하시겠습니까?
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="commonConfirmModalCancel">
                    취소
                </button>
                <button type="button" class="btn btn-primary" id="commonConfirmModalOk">
                    확인
                </button>
            </div>

        </div>
    </div>
</div>
