<div class="notice-board">
    <div class="notice-board-header">
        <h2>공지사항</h2>
        <a href="#">더보기</a>
    </div>

    <div class="notice-list">
        <a href="#" class="notice-item">
            <span class="notice-title">사이트 이용 안내입니다.</span>
            <span class="notice-date">2026.06.22</span>
        </a>

        <a href="#" class="notice-item">
            <span class="notice-title">축구 매치 게시판 이용 규칙 안내</span>
            <span class="notice-date">2026.06.21</span>
        </a>

        <a href="#" class="notice-item">
            <span class="notice-title">구장 양도 게시글 작성 시 주의사항</span>
            <span class="notice-date">2026.06.20</span>
        </a>
    </div>
</div>